body
{
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-color: #111111;
	background-position: center 0;
	color: #bea373;
	font-family: Verdana, Arial;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#page
{
	width: 995px;
	margin-top: 50px;
}

#header
{
	width: 251px;
	margin: 0;
	padding: 0;
}

#container
{
	position: relative;
    padding-bottom: 10px;
	margin-top: -1px;
	overflow: hidden;
}

#menu
{
	float: left; 
	background-image: url('../images/left-border.jpg');
	background-repeat: repeat-y;
	background-position: 0 0;
	background-color: #1e1912; 
	width: 201px; 
	margin-bottom: -10000px; 
	padding-bottom: 10000px;
}

.ul-none-style
{
    list-style: none;
}

#content
{
	float: left;
	width: 784px; 
	margin-bottom: -10000px; 
	padding-bottom: 10000px;
	
	background-image: url('../images/content.jpg');
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #4a4339;
	
	padding-left: 10px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer-top
{
	background-image: url('../images/line-divisor.png');
	background-repeat: no-repeat;
	height: 7px;
}

#footer
{
	margin-top: -1px;
		
	padding: 20px;
	
	background-color: #2c2720;
	
	clear: both;
	overflow: hidden;
}

#footer-bottom
{
	height: 24px;
	background-image: url('../images/footer-content.png');
	background-repeat: no-repeat;
}

#logo
{
	background: url('../images/new-logo.png') 0px -49px;
	background-repeat: no-repeat;
	width: 251px;
	height: 50px;
}

#logo:hover
{
	background: url('../images/new-logo.png');
}

#top-boder
{
	height: 15px;
	background-image: url('../images/top-content.png');
	background-repeat: no-repeat;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}